{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/feedback.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
                <input type="text" class="field" placeholder="Your Name">
                <input type="text" class="field" placeholder="Your Email">
                <input type="text" class="field" placeholder="Phone">
				<form action='' method='POST' >
                    {% csrf_token %}
                {{ form.comment.errors }}
                    <label for="{{ form.comment.id_for_label }}"></label>
                {{ form.comment }}
                {{form.errors}}
                <input type = "submit" value = 'Save'  class="btn"/>
                </form>
				<h3>Or</h3>
				<button class="btn1"/><a href = {% url 'livreur' %}>Go back</a></button>
			</div>
		</div>
	</div>
</body>
</html>