{% extends 'admin_base.html' %}
{% load static %}
{% block content%}


    <div class="container closeSidebare">
        <div class="picture_container">
            <div>
                <img src="{% static "image/admin.png" %}" alt="admin">
            </div>
        </div>
        <div class="description_container">
            <div class="text_container">
                <h1 id="text_font_titles">welcome <span id="green">world express Admin</span></h1>
                <p id="text_font_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis provident, ipsam voluptatibus laborum voluptas asperiores! Tenetur ad hic velit illum natus, rerum ullam nisi, odit temporibus tempore voluptate voluptatibus.</p>
            </div>
            <div class="order_container">
                <a href="#">Crée un compte</a>
            </div>
        </div>
    </div>

{% endblock %}