{% extends 'admin_base.html' %}
{% load static %}
{% block content%}


    <div class="container closeSidebare">
        <div class="picture_container">
            <div>
                <img src="{% static "image/admin.png" %}" alt="admin">
            </div>
        </div>
        <div class="description_container">
            <div class="text_container">
                <h1 id="text_font_titles">Admin welcome to <span id="green">world express</span></h1>
                <p id="text_font_paragraph">Bienvenue dans votre espace Admin! <br> Veuillez utiliser les différentes fonctionnalités du votre site afin de répondre aux besoins de vos clients<br> Vous avez tous les droits de gestion du site de votre entreprise. Merci d'en profiter pour une meilleure administration.</p>
            </div>
            <div class="order_container">
                <a href="#">Crée un compte</a>
            </div>
        </div>
    </div>

{% endblock %}