{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static "css/main_admin.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>  

</head>
<body>
    <div class="nav_menu_container">
        <div class="navbar_container">
            <div class="logo_main">
                <a href="{% url "administrateur" %}"><h3 id="text_font_new">world express</h3></a>
            </div>
            <div class="toggle_bar">
                <a href="#" class="toggle-button" id="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="close"><img src="{% static "image/exit_icon.png" %}" alt=""></a>
            <div class="logo">
                <a href="{% url "administrateur" %}"><h3 id="text_font_new">world express</h3></a>
            </div>
            <div class="bar_items" id="text_font_paragraph">
                <ul class="bar_ul">
                <li class="hide_sub">
                    <a href="#" title="Ajouter" class="hidden_ele a_hover"><span class="nav_hover"></span><i class="fa fa-cloud-upload-alt"></i>Cree Compte<i class="fa fa-angle-down "> </i></i></a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="{% url "signup_client" %}" title="Ajouter" class="a_hover"><span class="nav_hover"></span>Clien</a>
                        </li>
                        <li>
                            <a href="{% url "signup_livreur" %}" title="AjouterP" class="a_hover"><span class="nav_hover"></span>livreur</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url "en_ramassage_admin" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"></i> En ramassage </a>
                    <a href="{% url "transit_admin" %} " class="a_hover"><span class="nav_hover"></span> <i class="fa fa-exchange-alt"></i>En transit </a>
                    <a href="{% url "en_hub_admin" %} " class="a_hover"><span class="nav_hover"></span> <i class="fa fa-home"> </i> En Hub</a>
                    <a href="{% url "en_livraison_admin" %} " class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"> </i> En livraison</a>
                    <a href="{% url "suspendus_admin" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-ban"> </i> Suspendus</a>
                    <a href="{% url "retour_livreur_admin" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-ban"> </i> retour livreur</a>
                    <a href="{% url "en_retard" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-ban"> </i> Colis en retard</a>
                </li>
                <li class="hide_sub">
                    <a href="#" title="livre" class="hidden_ele a_hover"><span class="nav_hover"></span> <i class="fa fa-angle-down"></i>listes</a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="{% url 'afficher_clients' %}" title="non encaisse" class="a_hover"><span class="nav_hover"></span>Nos client</a>
                        </li>
                        <li>
                            <a href="{% url 'afficher_livreurs' %}" title="encaisse non paye" class="a_hover"><span class="nav_hover"></span>Les Livreurs</a>
                        </li>
                        <li>
                            <a href="{% url 'historique_admin' %}" title="historique des colis recus" class="a_hover"><span class="nav_hover"></span>historique des colis</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url "see_feedback" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"></i> Feedbacks </a>
                </li>
                <li>
                    <a href="/admin/" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"></i> Interface Admin Avancée </a>
                </li>
                </ul>
            </div>
            <div class="profil">
                <a href="{% url 'admin_profile' %}"><img src="{% static "image/profile_pic.png" %}" alt="Profil"></a>
            </div>
        </div>
    </div>    
    {% block content %} 
    {% endblock %} 
    <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
    <script src="{% static "javascript/admin_main.js" %}"></script>
</body>
</html>