{% load static %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/autre_client.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

</head>
<body>
    <div class="nav_menu_container">
        <div class="navbar_container">
            <div class="logo_main">
                <a href="./ecotrack1.html"><h3 id="text_font_new">world express</h3></a>
            </div>
            <div class="toggle_bar">
                <a href="#" class="toggle-button" id="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
        </div>
        <div class="menu">  
            <div class="logo">
                <a href="#" class="close"><img src="../img/exit_icon.png" alt=""></a>
                <a href="/client"><h3 id="text_font_new">World Express</h3></a>
            </div>
            <div class="bar_items" id="text_font_paragraph">
                <ul class="bar_ul">
                <li class="hide_sub">
                    <a href="#" title="Ajouter" class="hidden_ele a_hover"><span class="nav_hover"></span><i class="fa fa-cloud-upload-alt"></i> Ajouter <i class="fa fa-angle-down "> </i></i></a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="{% url 'products:product-create' %}" title="Ajouter" class="a_hover"><span class="nav_hover"></span> Ajouter un colis</a>
                        </li>
                        <li>
                            <a href="{% url 'historique_client' %}" title="Historique" class="a_hover"><span class="nav_hover"></span> Historique de l'importation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'pret_a_expedier' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-check"></i> pret a expeder  </a>
                    <a href="{% url 'ramassage' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"></i> En ramassage </a>
                    <a href="{% url 'transit' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-exchange-alt"></i>En transit </a>
                    <a href="{% url 'hub' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-home"> </i> En Hub</a>
                    <a href="{% url 'livraison' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-car"> </i> En livraison</a>
                    <a href="{% url 'suspendus_client' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-ban"> </i> Suspendus</a>
                </li>
                <li class="hide_sub">
                    <a href="#" title="livre" class="hidden_ele a_hover"><span class="nav_hover"></span> <i class="fa fa-angle-down"></i> Livre</a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="{% url 'payes_client' %}" title="non encaisse" class="a_hover"><span class="nav_hover"></span>payés</a>
                        </li>
                        <li>
                            <a href="{% url 'non_payes_client' %}" title="encaisse non paye" class="a_hover"><span class="nav_hover"></span>non paye</a>
                        </li>
                        <li>
                            <a href="{% url 'historique_payements_client' %}" title="historique des paiment recus" class="a_hover"><span class="nav_hover"></span> historique des paiements</a>
                        </li>
                    </ul>
                </li>
                <li class="hide_sub">
                    <a href="#" title="retour" class="hidden_ele a_hover"><span class="nav_hover"></span> <i class="fa fa-angle-down"></i>Retour</a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="{% url 'retour_livreur_client' %}" title="Chez livreur" class="a_hover"><span class="nav_hover"></span>Chez livreur</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'client_feedback' %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-paper-plane"> </i> Feedback</a>
                    </ul>
                </li>
            </div>
            <div class="profil">
                <a href="{% url 'client_profile' %}"><img src='{% static "image/profile_pic.png" %}' alt="Profil"></a>
            </div>
        </div>
    </div>   
    {% block content%}  

    {% endblock %}
     <!-- impprimer container -->
<div class="body_container">
    <div class="imprimer_container" id="print_all" >
        {% for instance in object_list %}
        <div class="print_one_element one">
            <div class="logo_info">
                <div class="logo">
                    <img src="{% static 'image/world_express_logo.png' %}" alt="logo">
                </div>
                <div class="contanct">
                    <p>World Express - Société de livraison</p>
                    <p>Tel:</p>
                    <p>Website: <a href="{% url 'home' %}" target="_blank">worldexpress.com</a></p>
                </div>
                <div class="info_wilaya">
                    <h3>{{instance.wilaya}}</h3>
                </div>
            </div>
            <div  class="info_colis">
                <div class="description_colis">
                    <p>desdinatiare: <span class="imp_colis">{{instance.nometpren}}</span></p>
                    <p>telephone: <span class="imp_colis">{{instance.telephone1}} / {{instance.telephone2}}</span></p>
                    <p>montant: <span class="imp_colis">{{instance.montant}}</span></p>
                    <p>adress: <span class="imp_colis">{{instance.adresse}}</span></p>
                    <p>commune: <span class="imp_colis">{{instance.commune}}</span></p>
                    <p>wilaya: <span class="imp_colis">{{instance.wilaya}}</span></p>
                    <p>remarque: <span class="imp_colis">{{instance.remarque}}</span></p>
                    <p>produit: </p>
                    <p>colis crée le: <span class="imp_colis">{{instance.date}}</span></p>
                    <p>id de produit: <span class="imp_colis">{{instance.id}}</span></p>
                </div>
                <div class="pois_type_container">
                    <div class="qr_code">
                        <img src="{% qr_url_from_data instance.id %}" alt="id">
                    </div>
                    <div class="type">
                        <h3>{{instance.poids}} kg</h3>
                    </div>
                    <div class="type">
                        <h3>{{instance.typeenvoi}}</h3>
                    </div>
                    <div class="type">
                        <h3>{{instance.typeprestation}}</h3>
                    </div>
                </div>
            </div>
            <div class="info_expediteur">
                <div>
                    <p>expéditeur: ESTM</p>
                    <p>Adresse: bejaia - bejaia</p>
                    <p>service client: 0783008683</p>
                </div>
                <div>
                    <h3>réference:</h3>
                </div>
            </div>
            <div class="footer_imprimer">
                <h2>CONDITIONS GENERALES DE TRANSPORT DES MARCHANDISES ET COLIS</h2>
                <p>Je certifie que les détails déclarés sur ce bordereau sont correct et que le colis ne contient aucun produit
                    dangereux ou interdit par la loi</p>
            </div>
        </div>
        <!--============================-->
        <div class="html2pdf__page-break"></div>
        {% endfor %}
        
    </div>
        
</div>
    <script src="{% static 'javascript/autre.js' %}"></script>
  </body>
  </html>