{% extends 'admin_base_main.html' %}
{% block content%}
    









<div class="ajouter_container closeSidebare">
    <div class="description pret_main">
        <h3 id="text_font_titles">Choisir Livreur</h3>
        <p id="text_font_paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae assumenda nostrum quidem atque delectus.</p>
    </div>
    <div class="main_container">
        <div class="filtre filtre_pret">
            <div class="filtre_tit">
                <h3 id="text_font_titles">Filtre:</h3>
            </div>
            <div>
                <form method="POST" action="" class="form_container">
                    {% csrf_token %}
                <select name="etat" id="">
                    <option value="0">disponible</option>
                    <option value="1">non disponible</option>
                    <option value="2">all</option>
                </select>
            </div>
            <div>
                <select name="user_wilaya" id="wilaya_send">
                    <option value="0">La Wilaya </option>
                    <option value="Adrar">Adrar</option>
                    <option value="Chlef">Chlef</option>
                    <option value="Laghouat">Laghouat</option>
                    <option value="Oum el-Bouaghi"> Oum el-Bouaghi</option>
                    <option value="Batna">Batna</option>
                    <option value="Béjaïa">Béjaïa</option>
                    <option value="Biskra">Biskra</option>
                    <option value="Béchar">Béchar</option>
                    <option value="Blida">Blida</option>
                    <option value="Bouira">Bouira</option>
                    <option value="Tamanghasset">Tamanghasset</option>
                    <option value="Tébessa">Tébessa</option>
                    <option value="Tlemcen">Tlemcen</option>
                    <option value="Tiaret">Tiaret</option>
                    <option value="Tizi Ouzou">Tizi Ouzou</option>
                    <option value="Algiers">Algiers</option>
                    <option value="Djelfa">Djelfa</option>
                    <option value="Jijel">Jijel</option>
                    <option value="Sétif">Sétif</option>
                    <option value="Saïda">Saïda</option>
                    <option value="Skikda">Skikda</option>
                    <option value="Sidi Bel Abbes">Sidi Bel Abbes</option>
                    <option value="Annaba">Annaba</option>
                    <option value="Guelma">Guelma</option>
                    <option value="Constantine">Constantine</option>
                    <option value="Médéa">Médéa</option>
                    <option value="Mostaganem">Mostaganem</option>
                    <option value="M'Sila">M'Sila</option>
                    <option value="Mascara">Mascara</option>
                    <option value="Ouargla">Ouargla</option>
                    <option value="Oran">Oran</option>
                    <option value="El Bayadh">El Bayadh</option>
                    <option value="Illizi">Illizi</option>
                    <option value="Bordj Bou Arréridj">Bordj Bou Arréridj</option>
                    <option value="Boumerdès">Boumerdès</option>
                    <option value="El Taref">El Taref</option>
                    <option value="Tindouf">Tindouf</option>
                    <option value="Tissemsilt">Tissemsilt</option>
                    <option value="El Oued">El Oued</option>
                    <option value="Khenchela">Khenchela</option>
                    <option value="Souk Ahras">Souk Ahras</option>
                    <option value="Tipasa">Tipasa</option>
                    <option value="Mila">Mila</option>
                    <option value="Aïn Defla">Aïn Defla</option>
                    <option value="Naama">Naama</option>
                    <option value="Aïn Témouchent">Aïn Témouchent</option>
                    <option value="Ghardaïa">Ghardaïa</option>
                    <option value="Relizane">Relizane</option>
                </select>
            </div>
            <div>
                <button type="submit" class = "filtrBtn">Filter</button>
            </div>
            </form>
            <div class="filtre_noslivreur">
                <form method="POST" action="" class="form_list_livreur">
                    {% csrf_token %}
                    <input type = "texte" name = 'username' value = '' placeholder="Username" class="username">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="filtre_noslivreur">
                <form method="POST" action="" class="form_list_livreur">
                    {% csrf_token %}
                    <input type = "texte" name = 'fname' placeholder="First name">
                    <input type = "texte" name = 'lname' placeholder="Last name">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <!--haw wach t copier -->
        <div class="filtre_box_container">
            <div>
                <h4 id="text_font_titles"></h3>
            </div>
            {%for item in list%}
            <div>
                <p>{{item}}</p>
            </div>
            {%endfor%}
        </div>
        <!--hta hna -->
        <div class="element_container">
            <div class="element_header hide_title_colis" >
                <div class="numb_afficher">
                    <label for="nmb_afficher">Afficher:</label>
                    <select name="nmb_afficher" id="nmb_afficher">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="ALL">ALL</option>
                    </select>
                    <label for="nmb_afficher">élément</label>
                </div>
                <div class="titles_colis form1">
                    <div>
                        <h4>ID user</h4>
                    </div>
                    <div>
                        <h4>Username</h4>
                    </div>
                    <div>
                        <h4>first name</h4>
                    </div>
                    <div>
                        <h4>last name</h4>
                    </div>
                    <div>
                        <h4>wilaya name</h4>
                    </div>
                </div>
                <div class="titles_colis form2">
                    <div>
                        <h4>ID</h4>
                    </div>
                    <div>
                        <h4>User</h4>
                    </div>
                    <div>
                        <h4>Wilaya</h4>
                    </div>
                </div>
            </div>
            <div class="element_desc">
                {% for user in users %}
                 <div class="ele_container table_element">
                     <div class="mod_ele">
                         
                     </div>
                     <div class="autre_ele ">
                        <div >
                            <p><i class="fa fa-id-card" aria-hidden="true"></i> {{ user.id }}</p>
                        </div>
                        <div >
                            <p><i class="fa fa-id-card" aria-hidden="true"></i> {{ user.username }}</p>
                        </div>
                        <div>
                            <p><i class="fa fa-id-card" aria-hidden="true"></i> {{ user.first_name }}</p>
                        </div>
                        <div>
                            <p><i class="fa fa-id-card" aria-hidden="true"></i> {{ user.last_name }}</p>
                        </div>
                        <div>
                            <p><i class="fa fa-map" aria-hidden="true"></i> {{ user.wilaya }}</p>
                        </div>
                     </div>
                     <div class="mod_ele mod_ele2">
                        <div class="mod_ele delivery_mod">
                                <form method="POST" action="" class="choose_delivery_form">
                                    {% csrf_token %}
                                <label>Choose deadline</label>
                                <input type = 'date' name = 'date'  >
                                <input type = 'time' name = 'time' >
                                <button type="submit" name = 'submit' value = '{{ user.id }}' >Choose</button>
                                </form>
                        </div>
                     </div>
                 </div>
                 {% empty %}
                 <div class="ele_container aucune_element">
                     <p> sorry, no queries match your search </p>
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>


























{% endblock %}