{% load static %}








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Lato:wght@300&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet"href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>World Express</title>
</head>
<body>
    <header>
        <div class="head_container hidde_nav">
            <div class="logo_container">
                <a href="{% url 'home' %}"><img src="{% static 'image/world_express_logo.png' %}" alt="logo"></a>
            </div>
            <a href="#" class="toggle-button" id="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar_container">
                <ul>
                    <li class="nav_items"><a href="#about" class="a_hover"><span class="nav_hover"></span>about</a></li>
                    <li class="nav_items"><a href="#comment" class="a_hover"><span class="nav_hover"></span>Services</a></li>
                    <li class="nav_items"><a href="#location" class="a_hover"><span class="nav_hover"></span>Location</a></li>
                    <li class="nav_items"><a href="#contact" class="a_hover"><span class="nav_hover"></span>contacts</a></li>
                </ul>
            </div>
            <div class="contact_container">
                {% if user.is_authenticated %}
                    {% if user.groups.all.0.name == "Livreurs" %}
                        <button type = "submit" class="sign_class"><a href = "{% url 'livreur' %}" id= "text_font_new" class="sign_class">Go to menu</a></button>
                    {% elif user.is_superuser %}
                        <button type = "submit" class="sign_class"><a href = "{% url 'administrateur' %}" id= "text_font_new" class="sign_class">Go to menu</a></button>
                    {% else %}
                        <button type = "submit" class="sign_class"><a href = "{% url 'client' %}" id= "text_font_new" class="sign_class">Go to menu</a></button>
                    {% endif %}
                {% else %}
                <form method = "post" action='' class="form_contact">
                    {% csrf_token %}
                      <button type = "submit" class="sign_class"><a href = "{% url 'signup' %}" id= "text_font_new" class="sign_class">Signup</a></button>
                      <button type = "submit" class="log_class"><a href = "{% url "signin" %}" id= "text_font_new" class="log_class">SignIn</a></button>
                </form>
                {% endif %}
            </div>
        </div>
    </header>
    <section>
        <div class="main_section_container"> 
            <div class="text_container">
                <div class="paragraphe_titel_container" id="text_font_titles">
                    <h1><span id="second_red">World Express</span><br>The Quickest <br><span id="second_red">delivery</span> in <br><span id="second_red">Algeria</span></h1>
                </div>
                <div class="paragraphe_container">
                    <p>Order your products at any time and we will <br> deliver them directly to your home.</p>
                </div>
                <div class="main_order_button">
                    <button class="order_button"><a href="{% url 'signin' %}">Add a package</a></button>
                </div>
            </div>
            <div class="main_picture_container">
                <img src="{% static 'image/In no time-pana.svg' %}" alt="delivery">
                </div>
            <div class="drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
                <img src="../static/image/drone-red.svg" alt="Drone">
            </div>
        </div>
    </section>
    <section>
        <div class="description_container" id="about">
            <div class="text_desc_container">
                <div class="about_container border_decoration" >
                    <h1 id="text_font_new">Qui sommes nous ?</h1>
                    <p id="text_font_new">World express est une entreprise algérienne de livraison à domicile crée par des nationaux pour satisafire aux exigences toujours plus grandes des entreprises algériennes en matiere de transport de courrier express.</p>
                </div>
            </div>
            <div class="picture_desc_container">
               <div class="picture_container">
                <div class="box_img" id="first_box"><img src="{% static 'image/Coronavirus Delivery Preventions-rafiki.svg' %}" alt="box"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="sending_container" id="text_font_new"> 
            <div class="sending_text_container">
                <h1>Comment pouvez-vous envoyer un colis ?</h1>
                <p>Le processus d'envoie de colis est simple, vous n'avez qu'à suivre les 3 étapes suivantes:</p>
            </div>
            <div class="sending_steps_container">
                <div class="steps_container hover">
                    <div class="steps_img hover_items">
                        <img src="{% static 'image/locked_password_icon.png' %}" alt="login" class="hover_items"></div>
                    <h3 class="hover_items">Login</h3>
                    <p class="hover_items">Veuillez créer votre compte personnel<br>puis appuyer sur login</p>
                </div>
                <div class="steps_container ">
                    <div class="steps_img hover_items"><img src="{% static 'image/guide_list_icon.png' %}" alt="form"></div>
                    <h3 class="hover_items">Destination</h3>
                    <p class="hover_items">Veuillez remplir un formulaire mentionnant tous les détails de la destination.</p>
                </div>
                <div class="steps_container">
                    <div class="steps_img hover_items"><img src="{% static 'image/delivery_truck_shippingicon.png' %}" alt="login"></div>
                    <h3 class="hover_items">Reception</h3>
                    <p class="hover_items">Veuillez recevoir votre colis en toute sécurité et bon état.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="our_services_container" id="comment">
            <div class="our_services_text text_desc_container">
                <div class="about_container our_services_border_decoration " id="text_font_new">
                    <h1>Nos services :</h1>
                    <p id="text_font_paragraph">L'entreprise WORLD EXPRESS vous permet d'envoyer vos colis à vos destinations choisies dans le territoire algérien. <br>- Notre disponiblité à la hauteur de votre confiance. <br>- Votre document est important pour vous, nous l'acheminons en toute sécurité.
                </div>
            </div>
            <div class="picture_our_container">
                <div class="picture_container_2">
                    <img src="{% static 'image/In no time-amico.svg' %}">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="location_container" id="location">
            <div class="location_text_container">
                <div>
                    <h1 id="text_font_new">Notre location:</h1>
                </div>
                <div class="select_wilaya">
                    <label for="willaya" id="text_font_new">Votre wilaya:</label>
                    <select name="user_wilaya" id="wilaya_location" onChange="location_we()">
                        <option value="0">-- Select Willaya --</option>
                        <option value="chlef">Chlef</option>
                        <option value="laghouat">Laghouat</option>
                        <option value="batna">Batna</option>
                        <option value="bejaia">Béjaïa</option>
                        <option value="biskra">Biskra</option>
                        <option value="blida">Blida</option>
                        <option value="tiaret">Tiaret</option>
                        <option value="tizi">Tizi Ouzou</option>
                        <option value="alger">Algiers</option>
                        <option value="djelfa">Djelfa</option>
                        <option value="jijel">Jijel</option>
                        <option value="setif">Sétif</option>
                        <option value="eL_eULMA">EL-Eulma sétif</option>
                        <option value="guelma">Guelma</option>
                        <option value="constantine">Constantine</option>
                        <option value="borj">Bordj Bou Arréridj</option>
                        <option value="tipaza">Tipasa</option>
                        <option value="mila">Mila</option>
                        <option value="relizane">Relizane</option>
                    </select>
                </div>
            </div>
            <div id="localisation_container">
                <iframe id="place" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.821835086569!2d5.061867514778112!3d36.75084737817693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f2cddf0e04825f%3A0x3a201bbb1afef761!2sWorld%20Express!5e0!3m2!1sen!2sdz!4v1648845814979!5m2!1sen!2sdz" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer id="contact">
            <div class="footer_container">
                <div class="items_container">
                    <div class="items">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Livraison</a></li>
                            <li><a href="#">Livreur</a></li>
                            <li><a href="#">Nos bureaux</a></li>
                        </ul>
                    </div>
                    <div class="items">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Entreprise</a></li>
                            <li><a href="#">Equipe</a></li>
                            <li><a href="#">Carrières</a></li>
                        </ul>
                    </div>
                    <div class="company_text">
                        <h3>World Express</h3>
                        <p>Entreprise possédant un bureau principal et d'autres secondaires en Algérie vous offre le service express de livraison de colis. <br> Tél : +213 (0) 0770603104<br> Gmail : worldexpress@gmail.com </p>
                    </div>
                </div>
                <div class="social_media_container">
                    <div class="social_media"><a href="#"><img src="{% static 'image/facebook.png' %}" alt="facebook" ></a></div>
                    <div class="social_media"><a href="#"><img src="{% static 'image/instagram.png' %}" alt="instagram"></a></div>
                    <div class="social_media"><a href="#"><img src="{% static 'image/linkedin.png' %}" alt="linkedin"></a></div>
                </div>
                <div class="copyright_container">
                    <p>World Express &copy; 2022</p>
                </div>
            </div>
        </footer>
    </div> 
    {% for message in messages %}
    <div class="confirm_contaner">
        <div class="container">
            <div class="contact-box">
                <div class="right">
                    <h2  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h2>
                    <button class="btn" onclick="popup()">click to close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>















<!--{% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}-->
