
{% extends 'base.html' %}
{% block content%}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Welcome to GeeksForGeeks!</h3>


    {% if user.is_authenticated %}
    <h3>Hello {{fname}}!</h3>
    <h4>You're successfully logged in.</h4>
    <button type="submit"><a href="users/signout">SignOut</a></button>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %}
    <button type="submit"><a href="users/signup">SignUp</a></button>
    <br/>
    <br/>
    <button type="submit"><a href="users/signin">SignIn</a></button>
    {% endif %}

    {% endblock %}