{% extends 'livreur_base.html' %}
{% load static %}
{% block content%}

    
    <div class="container closeSidebare">
        <div class="picture_container">
            <div>
                <img src="{% static "image/livreur.svg" %}" alt="deliveryman">
            </div>
        </div>
        <div class="description_container">
            <div class="text_container">
                <h1 id="text_font_titles">Livreur | welcome to <span id="livreur">world express</span></h1>
                <p id="text_font_paragraph">Bienvenue dans votre espace livreur! <br> En tant que livreur avec notre entreprise de livraison, nous vous souhaitons une meilleure expérience!<br>  Veuillez patienter l'arrivée de votre liste de colis à livrer qui vous sera attribué par l'admin de l'entreprise. </p>
            </div>
            <div class="order_container">
                <a href="#" >listes des colis</a>
            </div>
        </div>
    </div>


{% endblock %}