{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static "css/autre.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>  

</head>
<body>
    <div class="nav_menu_container">
        <div class="navbar_container">
            <div class="logo_main">
                <a href="{% url "livreur" %}"><h3 id="text_font_new">world express</h3></a>
            </div>
            <div class="toggle_bar">
                <a href="#" class="toggle-button" id="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="close"><img src="{% static "image/exit_icon.png" %}" alt=""></a>
            <div class="logo">
                <a href="{% url "livreur" %}"><h3 id="text_font_new">world express</h3></a>
            </div>
            <div class="bar_items" id="text_font_paragraph">
                <ul class="bar_ul">
                    <!--
                <li class="hide_sub">
                    <a href="#" title="Ajouter" class="hidden_ele a_hover"><span class="nav_hover"></span><i class="fa fa-cloud-upload-alt"></i> <i class="fa fa-angle-down "> </i></i></a>
                    <ul class="sub toggle_ele">
                        <li>
                            <a href="./ajouterColis.Html" title="Ajouter" class="a_hover"><span class="nav_hover"></span> Ajouter un colis</a>
                        </li>
                        <li>
                            <a href="#" title="AjouterP" class="a_hover"><span class="nav_hover"></span> Ajouter plusieurs colis</a>
                        </li>
                        <li>
                            <a href="#" title="Historique" class="a_hover"><span class="nav_hover"></span> Historique de l'importation</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <a href="{% url "a_recuperer_livreur" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-check"></i>liste des colis à récuperer</a>
                    <a href="{% url "en_livraison_livreur" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa fa-exchange-alt"></i>listes des colis en cours de livraison </a>
                    <a href="{% url "livreur_non_payés" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa "></i> Colis non payés </a>
                    <a href="{% url "historique_livreur" %}" class="a_hover"><span class="nav_hover"></span> <i class="fa "></i> Historique </a>
                    

                </li>
                
                </ul>
            </div>
            <div class="profil">
                <a href="{% url 'livreur_profile' %}"><img src="{% static "image/profile_pic.png" %}" alt="Profil"></a> 
            </div>
        </div>
    </div>

    {% block content %} 
    {% endblock %} 

<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
<script src="{% static "javascript/autre.js" %}"></script>
</body>
</html>