{% extends 'base.html' %}
{% load static %}
{% block content%}   
    <div class="pret_container_profil">
        <div class="profil_container">
            <div class="profil_header">
                <h1 id="text_font_titles">Your Profil</h1>
                <div>
                    <img src="{% static 'image/profile_pic.png' %}" alt="profil">
                </div>
            </div>
            <div class="prof_body" id="text_font_paragraph">
                <div>
                    <h3>Nom: </h3>
                    <p>{{user.first_name}}</p>
                </div>
                <div>
                    <h3>Prenom: </h3>
                    <p>{{user.last_name}}</p>
                </div>
                <div>
                    <h3>E-mail: </h3>
                    <p>{{user.email}}</p>
                </div>
                <div>
                    <h3>Phone num:</h3>
                    <p>{{user.telephone}}</p>
                </div>
                <div class="btn_log">
                    <button class="logout" ><img src="{% static 'image/logout_icon.png' %}" alt="logout"><a href="{% url 'logout' %}">Log Out</a></button>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}       