{% extends 'admin_base_main.html' %}
{% block content%}

<div class="ajouter_conatainer closeSidebare">
    
    <div class="description pret_main">
        <h3 id="text_font_titles">En Hub</h3>
        <p id="text_font_paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae assumenda nostrum quidem atque delectus.</p>
    </div>
    <div class="main_container">
        <div class="btn btn_pret">
            <button class="supprimer">suprimer les colis</button>
            <button class="impremer">impremer les etiquettes</button>
            <button class="impremer">impremer une decharge</button>
            <button class="valider">valider l'éxpedition</button>
        </div>
        <div class="filtre filtre_pret">
            <form method="POST" action="" class="form_container">
                {% csrf_token %}
                <select name="user_type" id="">
                    <option value="not registrated">registrated</option>
                    <option value="registrated">not registrated</option>
                </select>
                <button type="submit">Filter</button>
            </form>
        </div>
        <div class="element_container">
            <div class="element_header" >
                <div class="numb_afficher">
                    <label for="nmb_afficher">Afficher:</label>
                    <select name="nmb_afficher" id="nmb_afficher">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="ALL">ALL</option>
                    </select>
                    <label for="nmb_afficher">élément</label>
                </div>
                <div class="titles_colis">
                    <div>
                        <h4>username</h4>
                    </div>
                    <div>
                        <h4>feedback</h4>
                    </div>

                </div>
            </div>
            <div class="element_desc">
                {% for instance in object_list %}
                <div class="ele_container table_element">
                    <div class="mod_ele">
                        
                        <input type = 'checkbox' value = {{ instance.id }} name = 'selection'>
                        
                    </div>        
                    
                    <div class="autre_ele">
                        <div class="ele">
                            <p>{{ instance.username }}</p>
                        </div>
                        <div>
                            <p>{{ instance.comment }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="ele_container aucune_element">
                    <p> sorry, no queries match your search </p>
                </div>
                {% endfor %}
                {% if object_list %}
                    <label>Nombre de feedbacks</label>
                    {{somme}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
    

    {% endblock %}