{% extends 'admin_base_main.html' %}
{% block content%}










<div class="ajouter_container closeSidebare">
    <div class="description pret_main">
        <h3 id="text_font_titles">list Feedbacks</h3>
        <p id="text_font_paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae assumenda nostrum quidem atque delectus.</p>
    </div>
    <div class="main_container">
        <div class="filtre filtre_pret">
            <form method="POST" action="" class="form_pret_exp">
                {% csrf_token %}
            <div class="filtre_tit">
                <h3 id="text_font_titles">Filtre:</h3>
            </div>
            <div>
                <select name="user_type" id="">
                    <option value="not_registrated">Not registrated</option>
                    <option value="client">client</option>
                    <option value="livreur">Livreur</option>
                </select>
            </div>
            <div>
                <button type="submit" class = "filtrBtn">Filter</button>
            </div>
        </form>
        </div>
        <div class="filtre_box_container">
            <div>
                <h4 id="text_font_titles"></h3>
            </div>
            {%for item in list%}
            <div>
                <p>{{item}}</p>
            </div>   
            {%endfor%}
        </div>
        <div class="element_container">
            <div class="element_header hide_title_colis" >
                <div class="numb_afficher afficher_mult">
                    <div class="numb_container">
                        <label for="nmb_afficher">Afficher:</label>
                        <select name="nmb_afficher" id="nmb_afficher">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="ALL">ALL</option>
                        </select>
                        <label for="nmb_afficher">élément</label>
                    </div>
                   
                </div>
                <div class="titles_colis form1">
                    <div>
                        <h4>user name</h4>
                    </div>
                    <div>
                        <h4>Email/Phone</h4>
                    </div>
                    <div>
                        <h4>Status</h4>
                    </div>
                    <div>
                        <h4>Feedbacks</h4>
                    </div>
                </div>
                <div class="titles_colis form2">
                    <div>
                        <h4>user name</h4>
                    </div>
                    <div>
                        <h4>Email/Phone</h4>
                    </div>
                    <div>
                        <h4>Status</h4>
                    </div>
                    <div>
                        <h4>Feedbacks</h4>
                    </div>
                </div>
            </div>
            <div class="element_desc">
                {% for instance in object_list %}
                <div class="ele_container table_element">
                    <div class="mod_ele">

                    </div>        
                    <div class="autre_ele table_nos_livreur">
                        <div class="ele">
                            <p>{{ instance.id_user }}</p>
                        </div>
                        <div class="ele">
                            <p>{{ instance.username }}</p>
                        </div>
                        <div class="ele">
                            <p>{{ instance.username }}</p>
                        </div>
                        <div>
                            <p>{{ instance.comment }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="ele_container aucune_element">
                    <p> sorry, no queries match your search </p>
                </div>
                {% endfor %}
                
                <div class="statics">
                    {% if object_list %}
                    <label>Nombre de feedbacks: {{somme}}</label>
                    
                    {% endif %}
                </div>
            
            </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}










